d2-cs2-31mar21-flows-e32-dht11-formatted.json
[
    {
        "id": "5ac5851a.7ab53c",
        "type": "tab",
        "label": "FCCN RoomTemperature Monitoring System",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e899006a.cbfa6",
        "type": "serial in",
        "z": "5ac5851a.7ab53c",
        "name": "",
        "serial": "ffec27d9.033148",
        "x": 220,
        "y": 160,
        "wires": [
            [
                "600fd2b7.702d0c"
            ]
        ]
    },
    {
        "id": "600fd2b7.702d0c",
        "type": "function",
        "z": "5ac5851a.7ab53c",
        "name": "",
        "func": "var output = msg.payload.split(\",\"); \nmsg={};\nmsg2={};\n\nvar read1 = parseInt(output[0]);\nvar read2 = parseInt(output[1]); \n\nmsg = {payload : read1};\nmsg.topic = 'Humid';\n\nmsg1 = {payload : read2};\nmsg1.topic = 'Temp';\n\nreturn [msg,msg1];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 420,
        "y": 160,
        "wires": [
            [
                "a352acdb.634cb",
                "882958da.aac958",
                "97c868db.7c2b78"
            ],
            [
                "a352acdb.634cb",
                "fbb12ba8.2f0338",
                "db9acd85.c7316"
            ]
        ]
    },
    {
        "id": "882958da.aac958",
        "type": "debug",
        "z": "5ac5851a.7ab53c",
        "name": "Humid",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 40,
        "wires": []
    },
    {
        "id": "a352acdb.634cb",
        "type": "ui_chart",
        "z": "5ac5851a.7ab53c",
        "name": "",
        "group": "a8babd15.c671b",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "dht11",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "20",
        "ymax": "70",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 890,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "fbb12ba8.2f0338",
        "type": "debug",
        "z": "5ac5851a.7ab53c",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 300,
        "wires": []
    },
    {
        "id": "97c868db.7c2b78",
        "type": "ui_gauge",
        "z": "5ac5851a.7ab53c",
        "name": "",
        "group": "b1f9264f.f74788",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Humidity Level",
        "label": "%",
        "format": "{{value}}",
        "min": "20",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 730,
        "y": 100,
        "wires": []
    },
    {
        "id": "db9acd85.c7316",
        "type": "ui_gauge",
        "z": "5ac5851a.7ab53c",
        "name": "",
        "group": "a3290d1f.bb8cc",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Temperature Level",
        "label": "°C",
        "format": "{{value}}",
        "min": "15",
        "max": "35",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 710,
        "y": 220,
        "wires": []
    },
    {
        "id": "ffec27d9.033148",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/tty.usbserial-0001",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "a8babd15.c671b",
        "type": "ui_group",
        "z": "",
        "name": "Merged",
        "tab": "b542bd49.ada5",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "b1f9264f.f74788",
        "type": "ui_group",
        "z": "",
        "name": "Humidity",
        "tab": "b542bd49.ada5",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a3290d1f.bb8cc",
        "type": "ui_group",
        "z": "",
        "name": "Temperature",
        "tab": "b542bd49.ada5",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b542bd49.ada5",
        "type": "ui_tab",
        "z": "",
        "name": "FCCN",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]