e1-cs3-31mar21-flows-e32-dht11-dbase.json
[{"id":"3c0105a5.b6c26a","type":"tab","label":"DHT11 - mysql","disabled":false,"info":""},{"id":"66a37c71.79c684","type":"debug","z":"3c0105a5.b6c26a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":100,"wires":[]},{"id":"594dbebb.1ff8d","type":"serial in","z":"3c0105a5.b6c26a","name":"","serial":"a6845385.4ab4e","x":120,"y":220,"wires":[["1d4f18ad.9e1c67","125f365c.5177aa","26bbc43d.3dd03c"]]},{"id":"125f365c.5177aa","type":"function","z":"3c0105a5.b6c26a","name":"Humid","func":"var output = msg.payload.split(\",\");\n\nvar velimp = parseInt(output[0]);\n//var angle  = parseInt(output[0]);\n\n\nvar msg = {payload : velimp};\n//var msg2 = {payload : angle};\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":140,"wires":[["66a37c71.79c684","53b9e67a.3f4d28"]]},{"id":"1d4f18ad.9e1c67","type":"function","z":"3c0105a5.b6c26a","name":"Temp","func":"var output = msg.payload.split(\",\");\n\n//var velimp = parseInt(output[0]);\nvar angle  = parseInt(output[1]);\n\n\n//var msg2 = {payload : velimp};\nvar msg = {payload : angle};\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":220,"wires":[["723f4afa.ec87b4","e716758d.3a7d38","5a076bdd.f73d14"]]},{"id":"723f4afa.ec87b4","type":"debug","z":"3c0105a5.b6c26a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":200,"wires":[]},{"id":"53b9e67a.3f4d28","type":"ui_gauge","z":"3c0105a5.b6c26a","name":"Humidity at CL412","group":"83273ceb.38c29","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"units","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":140,"wires":[]},{"id":"e716758d.3a7d38","type":"ui_chart","z":"3c0105a5.b6c26a","name":"Temperature at CL412","group":"ce4c16ab.76f7d8","order":1,"width":0,"height":0,"label":"Temp (°C) ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":240,"wires":[[]]},{"id":"5a076bdd.f73d14","type":"ui_text","z":"3c0105a5.b6c26a","group":"ce4c16ab.76f7d8","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":280,"wires":[]},{"id":"628ef5bf.dcdbec","type":"mysql","z":"3c0105a5.b6c26a","mydb":"e2373d64.93b03","name":"","x":580,"y":380,"wires":[[]]},{"id":"26bbc43d.3dd03c","type":"function","z":"3c0105a5.b6c26a","name":"","func":"var output = msg.payload.split(\",\");\n\nvar humid = parseInt(output[0]);\nvar temp  = parseInt(output[1]);\nmsg.topic=\"INSERT INTO plot_1 (humidV, tempV) VALUES (?,?)\"\nmsg.payload = [output[0], output[1]];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":360,"wires":[["628ef5bf.dcdbec","79d5fc7c.4809d4"]]},{"id":"79d5fc7c.4809d4","type":"debug","z":"3c0105a5.b6c26a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":340,"wires":[]},{"id":"a6845385.4ab4e","type":"serial-port","z":"","serialport":"/dev/tty.usbserial-0001","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"83273ceb.38c29","type":"ui_group","z":"","name":"Humidity","tab":"31736af8.ff5906","order":1,"disp":true,"width":4,"collapse":false},{"id":"ce4c16ab.76f7d8","type":"ui_group","z":"","name":"Temperature","tab":"31736af8.ff5906","order":2,"disp":true,"width":"4","collapse":false},{"id":"e2373d64.93b03","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"moist_level_info","tz":"","charset":"UTF8"},{"id":"31736af8.ff5906","type":"ui_tab","z":"","name":"lab2","icon":"dashboard","disabled":false,"hidden":false}]